.wrapper { width: 960px; margin: 0 auto; overflow: hidden; }

table { width: 100%; }

td { width: 33%; }

ul { border: solid 1px gray; height: 66px; }

li { 
  padding: 10px;
  background-color: yellow;
  border: solid 1px black;
  margin: auto; 
}

[data-size="1"] { width: 75px }

[data-size="2"] { width: 125px }

[data-size="3"] { width: 150px }