h1 { margin-top: 10px; margin-bottom: 10px; }

.wrapper { width: 960px; margin: 0 auto; overflow: hidden; }

table { width: 100%; }

td { width: 33%; }

ul { 
  border: solid 1px gray; 
  height: 66px; 
  padding-top: 10px; 
  padding-bottom: 10px; 
}

li { 
  padding: 10px;
  background-color: yellow;
  border: solid 1px black;
  margin: auto; 
}
